.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
}

.label {
  color: #6e6a8a;
  margin-bottom: 0.5rem;
}

.input {
  font-size: 1rem;
  border: 1px solid #525062;
  border-radius: 0.2rem;
  padding: 0.3rem 0.5rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .label {
    font-size: 1.1rem;
  }

  .input {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 1024px) {
  .label {
    font-size: 1.3rem;
  }

  .input {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 1280px) {
  .label {
    font-size: 1.5rem;
  }

  .input {
    font-size: 1.5rem;
  }
}
